# Dependency directories
node_modules/
/docs
/svelte
.parcel-cache
/coverage/*
/lib/*
# mathlify package
./packages/mathlify/lib
./packages/mathlify/.parcel-cache/
./packages/mathlify/coverage
./packages/mathlify/src/__tests__/demos
# mathlify-plus
packages/mathlify-plus/
# math-pro
sites/math-pro/