node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TYS Qns
src/content/h2-3_h2_tys_questions/*
!src/content/h2-3_h2_tys_questions/2007

# ignore
ignore
