/** from tailwind font family */
html {
	line-height: 1.5;
	font-family:
		ui-sans-serif,
		system-ui,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		Segoe UI Symbol,
		'Noto Color Emoji';
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p,
li,
figcaption {
	text-wrap: pretty;
	max-width: 65ch;
}
main {
	font-size: 1rem;
}
*:has(> math.tml-display) {
	width: 100%;
	overflow-x: auto;
}
math.tml-display {
	padding-bottom: 0.5rem;
}

.btn {
	background-color: var(--secondary);
	cursor: pointer;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
	font-weight: 500;
	line-height: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	height: 2.5rem;
	border: none;

	&:hover {
		background-color: hsla(var(--secondary-hsl), 0.9);
	}
}
