/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 20px;
}

code.codeblock-code {
	display: inline-block;
	overflow-x: auto;
	word-break: keep-all;
	white-space: pre;
}
